
.main-page {
    width: 100%;
}

.curry-point-headet-section {
    height: 50vh;
    width: 100vw;
    background-image: url("https://hips.hearstapps.com/delish/assets/17/17/1493301187-coconut-shrimp-curry.jpg");
    background-size: cover;

}

.image {
    height: 50px;
    width: 90px;
}

.curry-point-heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
}

.nav-items {
    color: black;
}

.curry-point-paragraph {
    font-family: "Caveat";
    font-weight: bold;
    font-size: 20px;
    color: #f00745;
}

.nav-item {
    color: red;
}

.item-secton {
    width: 100%;
    background-color: #f7f1d2;
}

.item-types {
    height: 100%;
    width: 100%;
}

.item-secton-image {
    height: 55%;
    width: 100%;
    border-radius: 10px;
}

.item-heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #0956e6;
    width: 70%;
    font-size: 25px;
}

.viewmore {
    border-width: 0px;
    border-radius: 5px;
    background-color: #fa0255;
    font-family: "Roboto";
    font-size: 12px;
    height: 30px;
    width: 120px;
    color: white;
}

.curry-container {
    border-radius: 15px;
    background-color: white;
    width: 130px;
    height: 100%;
}

.vege-curry {
    width: 100%;
    background-color: #f5e1cb;
}

.vege-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px black;
    color: #161c78;
}

.carousel-image {
    height: 70vh;
    width: 100%;
    background-size: cover;
}

.item-secton-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    color: #025958;
}

.order-button {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

.success-container {
    height: 120vh;
    width: 100%;
    background-size: cover;

}

.success-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 45px;
    color: #2416f0;
}

.success-image {
    height: 90vh;
    width: 65vw;
}

.success-button {
    width: 130px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;

}

.success-icon {
    border-width: 10px;
    border-style: solid;
    border-color: #038a24;
    height: 250px;
}
